@model Firma.Data.Data.Sklep.PozycjaZamowienia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PozycjaZamowienia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTowaru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTowaru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZamowienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPozycjiZamowienia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
