@model Firma.Data.Data.Sklep.Zamowienie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Panstwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Panstwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razem)
        </dd>
    </dl>
</div>
<div class="container">
    <div class="card" style="background-color: #FAFAFA">
        <div class="card-head">
            <h4 class="pl-2 pt-2">Pozycje zamówienia</h4>
        </div>
        <div class="card-body mb-3 ">
            <table class="table table-borderless">
                @await Html.PartialAsync("OrderDetails", (IEnumerable<Firma.Data.Data.Sklep.PozycjaZamowienia>)ViewBag.ModelPozycjeZamowienia)

            </table>

        </div>

        <div>
            <a href="@Url.Action("Index")" class="btn btn-primary btn-lg" style="margin-left:47%; margin-bottom:10px">Powrót</a>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdZamowienia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
